{% extends "layout.html" %}
{% block title %}Movie Database{% endblock %}
{% block content %}
<nav class="navbar navbar-fixed-top sticky-top navbar-dark bg-dark">
    <a href="/select_database" class="navbar-brand">DataBase Manger</a>
    <button class="navbar-toggler" type="button"
        data-toggle="collapse"
        data-target="#navmenu1"
        aria-controls="navmenu1"
        aria-expanded="false"
        aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navmenu1">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/movie">一覧表示</a>
        <a class="nav-item nav-link" href="/update">更新</a>
      </div>
    </div>
  </nav>

<div class="table-responsive">
    <table class="table table-dark table-striped">
      <thread>
        <tr>
          <th>データベース名</th>
          <th>動画場所</th>          
          
        </tr>
      </thread>
      <tbody>
        <tr>
            {% for database in databases %}
            <td><a class="btn btn-dark" href="/check_db?database_name={{database["name"]}}&media_dir={{database["media_dir"]}}" role="button">{{database["name"]}}</a></td>
          　<td>{{ database["media_dir"] }}</td>
        </tr>
        {% else %}
          <td>no entry exist!</td>
        {% endfor %}
        <tr>
          <td><form method="POST">
            <div class="form-group">
                <label for="text1">新規データベース名:</label>
                <input type="text" id="text1" name="database_name" class="form-control">
                <input type="submit" class="btn btn-outline-success" name="create_db" value="データベース作成">
            </div>
            
        </form></td>
        　<td><a class="btn btn-dark" href="/choose_dir" role="button">動画場所選択</a>
          <p>{{media_select_dir}}</p>
        {% if directory == 1 %}
        <div class="alert alert-warning" role="alert">
          <h4 class="alert-heading">動画のディレクトリを指定して下さい</h4>
        {% endif %}
        </div></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}