{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Movie Database{% endblock %}

{% block content %}
<nav class="navbar navbar-fixed-top sticky-top navbar-dark bg-dark">
    <a href="#" class="navbar-brand">MovieBrowser</a>
    <button class="navbar-toggler" type="button"
        data-toggle="collapse"
        data-target="#navmenu1"
        aria-controls="navmenu1"
        aria-expanded="false"
        aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navmenu1">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/movie?index_sort=date">日付順</a>
        <a class="nav-item nav-link" href="/movie?index_sort=access_time">アクセス順</a>
        <a class="nav-item nav-link" href="/movie?index_sort=filename">名前順</a>
        <a class="nav-item nav-link" href="/movie?index_sort=views">再生回数</a>
        <a class="nav-item nav-link" href="/movie?index_sort=star">★</a>
      </div>
    </div>
  </nav>

  {{ wtf.quick_form(form) }}
  
<div class="table-responsive">
    <table class="table table-striped">
      <thread>
        <tr>
          <th>サムネイル</th>
          <th>視聴回数</th>
          <th>☆</th>          
          <th>日付</th>
          <th>映像時間</th>
          <th>アクセス日付</th>
          <th>ファイル名</th>
          <th>ファイルサイズ(MByte)</th>          
        </tr>
      </thread>
      <tbody>
        {% for samp in data_all %}
        <tr>
            <td><a href="/play?id_number={{ samp["_id"] }}&index={{ index_howto }}""> <img src={{ samp["thumnail_file"] }} alt="test"> </a></td>
            <td>{{ samp["views"] }}</td>
          <td>
            <a href="/star?stars=0&id_number={{ samp["_id"] }}&index={{ index_howto }}" class="badge badge-info">★{{ samp["star"] }}</a>
            <a href="/star?stars=1&id_number={{ samp["_id"] }}&index={{ index_howto }}" class="badge badge-primary">★</a>
            <a href="/star?stars=2&id_number={{ samp["_id"] }}&index={{ index_howto }}" class="badge badge-primary">★★</a>
            <a href="/star?stars=3&id_number={{ samp["_id"] }}&index={{ index_howto }}" class="badge badge-primary">★★★</a></td>
          
          <td>{{ samp["date"] }}</td>
          <td>{{ samp["duration"] }}</td>
          <td>{{ samp["access_time"] }}</td>
          <td>{{ samp["name"] }}</td>
          <td>{{ samp["size"] }}</td>
        </tr>
        {% else %}
          <td>no entry exist!</td>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}